@charset "UTF-8";

*{padding: 0px; margin: 0px; box-sizing: border-box;} 

@keyframes LuzPiscando {
    5% {
        text-shadow: 0px 0px 3px white;
    }    
    15%, 50% {
        text-shadow: 0px 0px 7px white;
    }   
}

@keyframes LinhaPiscando {
    0% {
        content: "_";
    }    
    50% {
       content: "";
    }   
}

body {
    background-color: aliceblue !important;
}

.nav-sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    justify-content: start;
    align-items: center;
    padding: 10px;
    background-color: rgb(72, 72, 189);
    box-shadow: 0px 1px 6px 0px #00000033;
    list-style-type: none;
    margin: 0px;
}

.linkMenu {
    text-decoration: none;
    color: white;
    background-color: #3953E6;
    box-shadow: 1px 1px 3px 0px #00000062;
    text-shadow: 0px 0px 1px white;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    display: inline-block;
    transition: transform 0.5s ease-out, background-color 0.5s ease-out, color 0.5s ease-out;
}

.right{
    margin-left: auto;
}

.linkMenu:hover {
    background-color: rgb(62, 62, 153);
    transform: scale(1.1 , 1.1);
}

.header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, rgb(28, 32, 109), rgb(29, 35, 104), rgb(26, 32, 99) 10%, rgb(7, 7, 44) 85%);
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.678);
    height: 95dvh;
    box-shadow: inset 0px 0px 10px 2px #00000033;   
    text-shadow: 0px 0px 3px white;
    color: white;
    padding: 20px;
    
}

.header h1 {
    font-size: 5.5em;
    animation: LuzPiscando 6s ease-in-out 0s infinite;
}

.header h1::after{
    content: '_';
    animation: LinhaPiscando 6s ease-in-out 0s infinite;
}

.header h2 {
    font-size: 1.8em;
    text-align: right;
}

.main {
    background-color: aliceblue;
}

.main a, .modal-body a {
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 1px;
    background-color: rgba(135, 135, 177, 0.267);
}

.main a::before, .modal-body a::before {
    content: "\01F517";
}

.main a:hover, .modal-body a:hover {
    content: "\01F517";
}

.sobre {
    padding: 20px;
    max-width: 1200px;
    background-color: #cbd9ff;
    border-radius: 5px;
    margin: 30px auto 30px auto;
    box-shadow: inset 0px 0px 10px 2px #00000033;
}

.sobre h2 {
    text-decoration: underline;
    max-width: 84px;
}

.container-sobre {
    border-radius: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    gap: 2em;
}

.sobre-section {
    max-width: 750px;
    height: 150px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 0px 5px 5px 5px;
    box-shadow: 4px 4px 6px 0px #00000021;
    text-align: justify;
    text-indent: 20px;
}

.upper-text {
    background-color: #3ea9ca56; 
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    margin: 0px;
    max-width: 200px;
}

.projetos {
    padding: 20px;
    max-width: 1200px;
    background-color: #cbd9ff;
    border-radius: 5px;
    margin: 30px auto 30px auto;
    box-shadow: inset 0px 0px 10px 2px #00000033;
}

.container-projetos {
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    gap: 2em;
}

.projetos h2 {
    text-decoration: underline;
    max-width: 119px;
}

.projetos-section {
    cursor: pointer;
    max-width: 350px;
    min-height: 250px;
    padding: 10px;
    background-color: #ffffff;
    border-radius:5px;
    box-shadow: 4px 4px 6px 0px #00000021;
    text-align: justify;
}

.projetos-section img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 200px;
}